<!-- beda "ejsout//==ejsexcapeout" dengan ejsesc //==ejsescapein adalah ejsescape out mengubah tag html, ejsescapein tidak -->
<div class="container">
  <h1>Ini adalah halaman <%= title %> </h1>
  <div class="row">
    <div class="col text-center">
      <img src="./img/rizal.png" alt="" class="img-thumbnail rounded-circle gambarSatu" width="200">
      <h1 class="display-4">Rizal Fauzi</h1>
      <p class="lead">Programmer | Desainer</p>
    </div>
  </div>
</div>
