<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-2 mt-2">Daftar Contact</h2>
      <% if (contacts.length ===0) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Data not found
      </div>
      <% } else {%>
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>No Hp</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach((contact,i) => { %>
          <tr>
            <th><%= i+1 %> </th>
            <td><%= contact.nama %> </td>
            <td><%= contact.noHp %> </td>
            <td>
              <a href="/contact/<%= contact.nama %> " class="btn btn-success badge rounded-pill"><i
                  class="bi bi-info-circle"></i>
                Detail</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>
</div>